# app setting
UOM_DEFAULT = pack
ALL_UOM = false
SLOC_DEFAULT = 1000
ACCESS_OTHER_SLOC = false

# db setting
DB_USER = pengguna_db
DB_PASSWORD = pwd_dbnya
DB_HOST = penyedia_db
DB_PORT = port_db
DB_NAME = nama_db

# migration setting
MIGRATION_TABLENAME = api_migrations